@media screen and (max-width: 430px){
  .app-header .inner > *{
    display: none!important;
  }
  .app .app-header .inner .mini-player{
    display: block!important;
    margin-left: 15px;
  }
  .app-header .inner .fr{
    display: block!important;
  }
  .app .app-header .inner .mini-player .actions{
    left: 235px;
    top: 10px;
  }
  .app .app-header .inner .mini-player .titles{
    width: 220px;
  }
  .app .app-header .mini-player .title{
    width: 100%!important;
    overflow: hidden;
  }
  .app .app-header .mini-player .actions>.icon{
    margin-right: 15px;
  }
  .app .cover{
    position: fixed;
    top: 10px;
    right: 10px;
    margin-right: 0;
  }
}